body {
  font-family: "Open Sans", sans-serif;
  color: #20221F;
  height: auto;
  min-height: 100%;
  font-size: 1rem;
}
@media(min-width: 700px) {
  body {
    font-size: 1.5rem;
  }
}
.container, .container-wide {
  margin: 0 auto;
  padding: 0;
  width: 90%;
  max-width: 800px;
  clear: both;
}
.container-wide {
  max-width: 1200px;
}
.full-height {
  min-height: 100vh;
}
a {
  color: #B36A30;
}
a:focus, a:hover {
  box-shadow: 0 2px 0 0 #B36A30;
}
a:active {
  background: #E3B998;
}
.light-links a {
  color: #E3B998;
}
.light-links a:hover, .light-links a:focus {
  box-shadow: 0 2px 0 0 #E3B998;
}
.light-links a:active {
  background: #B36A30;
}
.button, [type=submit], button {
  background-color: #B36A30;
}
a.close-link {
  color: gray;
}
a.close-link:focus, a.close-link:hover {
  box-shadow: none;
}
a.close-link:active {
  background: transparent;
}
[type=radio] + .checkable:hover:before, [type=checkbox] + .checkable:hover:before, [type=radio]:focus + .checkable:before, [type=checkbox]:focus + .checkable:before {
  border: 1px solid #B36A30;
}
.text-muted {
  color: gray;
}
.pull-right {
  float: right;
}

.pad-top {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

header h1 {
  padding: 0;
}

@media(min-width: 700px) {
  .two-col {
    display: flex;
  }
  .two-col > * {
    width: 48%;
  }
  .two-col > *:first-child {
    margin-right: 4%;
  }
}

.row {
  margin-bottom: 7rem;
}
.row:last-child {
  margin-bottom: 0;
}
@media(min-width: 525px) {
  .row {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
  }
  .row.reverse {
    flex-direction: row-reverse;
  }
  .vertically-centered [class^=col] {
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .col-sm-2 { width: 14.6666665%; }
  .col-sm-4 { width: 31.3333333%; }
  .col-sm-8 { width: 64.6666666%; }
}

.horizontal-spacing {
  display: flex;
  flex-flow: wrap;
}
.horizontal-spacing > * {
  flex: 1;
}

.centered {
  text-align: center;
}

.circle {
  border-radius: 50%;
}

.rounded-images img {
  border-radius: 3px;
}
