body {
  font-family: "Open Sans", sans-serif;
  color: #20221F;
  height: auto;
  min-height: 100%;
}
.container, .container-wide {
  margin: 0 auto;
  padding: 0 15px;
  width: 90%;
  max-width: 800px;
  clear: both;
}
.container-wide {
  max-width: 1200px;
}
.full-height {
  min-height: 100vh;
}
a {
  color: #B36A30;
}
a:focus, a:hover {
  box-shadow: 0 2px 0 0 #B36A30;
}
.button, [type=submit], button {
  background-color: #B36A30;
}
.text-muted {
  color: gray;
}
.flex-row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.flex-row > * {
  flex: 1;
}
.pull-right {
  float: right;
}

.pad-top {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media(min-width: 700px) {
  .two-col {
    display: flex;
  }
  .two-col > * {
    width: 48%;
  }
  .two-col > *:first-child {
    margin-right: 4%;
  }
}
