body {
  font-family: "Open Sans", sans-serif
  color: #20221F;
}
body[class*=noscroll] {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}
.container, .container-wide {
  margin: 0 auto;
  padding: 0 15px;
  width: 90%;
  max-width: 800px;
}
.container-wide {
  max-width: 1200px;
}
.full-height {
  min-height: 100vh;
}
a {
  color: #B36A30;
}
a:hover {
  box-shadow: 0 2px 0 0 #B36A30;
}
.button, [type=submit], button {
  background-color: #B36A30;
}
.text-muted {
  color: gray;
}
.flex-row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.flex-row > * {
  flex: 1;
}

/* must have a position: relative parent to work;
 * vertically centered content lives in a child element, not this one */
.vertical-centering-small, .vertical-centering-small > * {
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
  margin: auto;
}
.vertical-centering-small > * {
  display: table;
  width: 100%;
}
.vertical-centering {
  padding-top: 6rem;
}
@media(min-width: 750px) {
  .vertical-centering, .vertical-centering > * {
    padding: 0;
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
    margin: auto;
  }
  .vertical-centering > * {
    display: table;
    width: 100%;
  }
}

/*
 * Hero & Nav
 */
.nav-buttons {
  text-align: right;
  height: 0;
}
.nav-buttons a {
  z-index: 2;
  position: relative;
  background-color: transparent;
  top: 1.5rem;
  color: gray;
}
.nav-buttons h1 {
  float: left;
}
.nav-buttons h1 a {
  top: 0;
}
.hero {
  min-height: 100vh;
  background-attachment: scroll;
  background-color: #373a3c;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  position: relative;
}
@media (min-width: 1025px) {
  .hero {
    background-attachment: fixed;
  }
}
.sunset-cliffs {
  background-image: url(/images/sunset-cliffs-large.jpeg);
}
.sunset-cliffs .brand, .sunset-cliffs label, .sunset-cliffs .text {
  color: white;
  text-shadow: 0 0 5px rgba(0,0,0,0.1);
}
button.brand {
  font-size: 1.5rem;
}

.hook {
  margin: 0 auto;
  width: 90%;
  text-align: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  border-radius: .4rem;
}
@media(min-width: 750px) {
  .hook {
    width: 50%;
  }
}
.embed-container {
  border-radius: .4rem .4rem 0 0;
  position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%;
}
.embed-container iframe, .embed-container object, .embed-container embed, .embed-container a {
  position: absolute; top: 0; left: 0; width: 100%; height: 100%;
}
.hook-description, .bg-tint {
  background-color: rgba(0,0,0,0.7);
  border-radius: 0 0 .4rem .4rem;
  color: white;
  padding: 0 1.5rem 1.5rem;
}
.bg-tint input {
  color: #20221F;
}
.bg-tint {
  padding: 1.5rem;
  border-radius: .4rem;
}
.hook-description p {
  margin-top: 0;
}

/*
 * Signin
 */
#signin {
  width: 220px;
  margin: 0 auto;
  padding-top: 1.5rem;
}

/*
 * Logo
 */
.logo-small img {
  height: 2.5rem;
  vertical-align: middle;
}
.logo-small:hover {
  box-shadow: none;
}

/*
 * Sections
 */
.bg-dark, .bg-light {
  font-size: 1.5rem;
  padding: 8rem 0;
}
.bg-dark blockquote {
  box-shadow: inset 5px 0;
}
.bg-dark:first-child, .bg-light:first-child {
  padding-top: 0;
}
.bg-dark {
  background-color: #20221F;
  color: #F0BFA1;
}
.bg-light {
  background-color: #F0BFA1;
  color: white;
}
.bg-light [type=text], .bg-light [type=email] {
  color: gray;
}

/*
 * Brand font
 */
.brand {
  font-family: 'Dancing Script', serif;
}

/*
 * Week grid
 */
.life {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap;
  padding-bottom: 5rem;
}
.life > *, .life > a {
  text-decoration: none;
  color: #fef8fc;
  width: 1.923076923%; /* 100/52 */
  display: block;
  text-align: center;
  box-shadow: none;
}
.life > a.past {
  color: #fae3e3;
}

/*
 * tooltips
 */
[data-tooltip] {
  position: relative;
}
[data-tooltip]:before{
  content: '';
  display: none;
  position: absolute;
  z-index: 1;
  bottom: 30px;
  left: 25%;
  width: 0;
  height: 0;

  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(0,0,0,.72);
}
[data-tooltip]:after {
  content: attr(data-tooltip);
  display: none;
  position: absolute;
  z-index: 2;
  bottom: 35px;
  left: -5.5rem;
  width: 12rem;

  color: #fff;
  font-size: 1rem;
  padding: 0.5rem;
  text-align: center;

  background: rgba(0,0,0,.72);
  border-radius: 2px;
}
[data-tooltip]:hover::before, [data-tooltip]:hover::after {
  display:block;
}

/*
 * Week Detail panel
 */
.week-detail-wrap {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: rgba(255,255,255,0.6);
  z-index: 3;
}
.week-detail {
  position: absolute;
  top: 0; right: 0; bottom: 0;
  width: 90%;
  max-width: 35rem;
  background-color: white;
  box-shadow: 0 0 25px rgba(0,0,0,0.2);
  padding: 0 2rem;
  overflow-y: scroll;
}
.close-week-detail {
  position: fixed;
  display: block;
  top: 0; right: 0; bottom: 0; left: 0;
  color: transparent;
}
.close-week-detail:hover {
  color: transparent;
}

.emojiPicker {
  left: auto !important;
  top: auto !important;
}

/*
 * Images
 */
img {
  max-width: 100%
}

.life-calendar-image img {
  border-radius: .2em;
}
.centered {
  text-align: center;
}
.shrink img {
  width: 50%;
}

/*
 * Payment Options
 */
.payment-options {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  margin-top: 4rem;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap;
}
.payment-option {
  width: 100%;
  text-align: center;
  border: 3px solid white;
  border-radius: 1.5rem;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
@media(min-width: 500px) {
  .payment-option {
    width: 47%;
  }
}
@media(min-width: 700px) {
  .payment-option {
    width: 30%;
  }
}
.payment-option:hover {
  box-shadow: 0 0 15px white;
}
.payment-option h2 {
  position: relative;
  padding-bottom: 90%;
  height: 0;
}
@media(min-width: 400px) {
  .payment-option h2 {
    padding-bottom: 45%;
    width: 50%;
    float: right;
  }
  .payment-option .price {
    width: 50%;
  }
}
@media(min-width: 500px) {
  .payment-option h2 {
    padding-bottom: 90%;
    width: 100%;
    float: none;
  }
  .payment-option .price {
    width: 100%;
  }
}
.payment-option h2 > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: #373a3c;
  background-image: url(/images/sunset-cliffs-large.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  border: 5px solid white;
  box-shadow: 0 0 10px rgba(0,0,0,0.3) inset;
  border-radius: 100%;
  text-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.currency-marker {
  vertical-align: super;
  font-size: 1.5rem;
}
.amount {
  font-size: 4rem;
}


/* Inputs */
input[disabled] {
  opacity: .7;
}

/* Payment form */
.input{
  position: absolute;
  height: 37px
}
.cardPaymentView {
  position: relative;
  height: 73px;
  margin-bottom: 1em;
}
.cardPaymentView>.input {
  left: 0;
  right: 0
}
.cardPaymentView>.cardNumberInput {
  z-index: 10
}
.cardPaymentView>.cardExpiresInput {
  ime-mode: disabled;
  top: 36px;
  right: auto;
  width: 50%;
  z-index: 9
}
.cardPaymentView>.cardCVCInput {
  top: 36px;
  left: 49.5%;
  right: 0;
  width: auto;
  z-index: 8;
  border-left: 1px solid #e5e5e8
}
.input>.control{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 37px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  padding: 0 6px 2px 29px;
  margin: 0;
  font-family: "Helvetica Neue","Helvetica",Arial,sans-serif;
  font-size: 15px;
  color: #000;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  user-select: text;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid #cececf;
  border-top-color: #b5b5b6;
  border-bottom-color: #dededf;
  -webkit-box-shadow: inset 0 1px 1px rgba(124,124,127,0.1),0 1px 0 rgba(255,255,255,0.7),0 0 4px rgba(86,149,219,0);
  -moz-box-shadow: inset 0 1px 1px rgba(124,124,127,0.1),0 1px 0 rgba(255,255,255,0.7),0 0 4px rgba(86,149,219,0);
  -ms-box-shadow: inset 0 1px 1px rgba(124,124,127,0.1),0 1px 0 rgba(255,255,255,0.7),0 0 4px rgba(86,149,219,0);
  -o-box-shadow: inset 0 1px 1px rgba(124,124,127,0.1),0 1px 0 rgba(255,255,255,0.7),0 0 4px rgba(86,149,219,0);
  box-shadow: inset 0 1px 1px rgba(124,124,127,0.1),0 1px 0 rgba(255,255,255,0.7),0 0 4px rgba(86,149,219,0);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: border-color .15s linear,box-shadow .15s linear;
  -moz-transition: border-color .15s linear,box-shadow .15s linear;
  -ms-transition: border-color .15s linear,box-shadow .15s linear;
  -o-transition: border-color .15s linear,box-shadow .15s linear;
  transition: border-color .15s linear,box-shadow .15s linear
}
.input>.control:not(.invalid):focus,.input>.control:not(.invalid).focus{
  border-color: #7caadd;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(76,107,153,0.15),0 1px 0 rgba(255,255,255,0),0 0 6px #326cc0;
  -moz-box-shadow: inset 0 1px 1px rgba(76,107,153,0.15),0 1px 0 rgba(255,255,255,0),0 0 6px #326cc0;
  -ms-box-shadow: inset 0 1px 1px rgba(76,107,153,0.15),0 1px 0 rgba(255,255,255,0),0 0 6px #326cc0;
  -o-box-shadow: inset 0 1px 1px rgba(76,107,153,0.15),0 1px 0 rgba(255,255,255,0),0 0 6px #326cc0;
  box-shadow: inset 0 1px 1px rgba(76,107,153,0.15),0 1px 0 rgba(255,255,255,0),0 0 6px #326cc0
}
.input>.control.invalid{
  outline: 0;
  border-color: #ff7076;
  border-top-color: #ff5c61;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0),0 1px 0 rgba(255,255,255,0),0 0 2px 0 rgba(255,0,0,0.5);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0),0 1px 0 rgba(255,255,255,0),0 0 2px 0 rgba(255,0,0,0.5);
  -ms-box-shadow: inset 0 1px 2px rgba(0,0,0,0),0 1px 0 rgba(255,255,255,0),0 0 2px 0 rgba(255,0,0,0.5);
  -o-box-shadow: inset 0 1px 2px rgba(0,0,0,0),0 1px 0 rgba(255,255,255,0),0 0 2px 0 rgba(255,0,0,0.5);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0),0 1px 0 rgba(255,255,255,0),0 0 2px 0 rgba(255,0,0,0.5)
}
.input>.control:disabled{
  opacity: .8
}
.input.left>.control:not(.invalid):focus,.input.right>.control:not(.invalid):focus,.input.top>.control:not(.invalid):focus,.input.middle>.control:not(.invalid):focus,.input.bottom>.control:not(.invalid):focus,.input.left>.control:not(.invalid).focus,.input.right>.control:not(.invalid).focus,.input.top>.control:not(.invalid).focus,.input.middle>.control:not(.invalid).focus,.input.bottom>.control:not(.invalid).focus{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border-color: #7caadd;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(76,107,153,0.15),0 1px 0 rgba(255,255,255,0),0 0 6px #326cc0;
  -moz-box-shadow: inset 0 1px 1px rgba(76,107,153,0.15),0 1px 0 rgba(255,255,255,0),0 0 6px #326cc0;
  -ms-box-shadow: inset 0 1px 1px rgba(76,107,153,0.15),0 1px 0 rgba(255,255,255,0),0 0 6px #326cc0;
  -o-box-shadow: inset 0 1px 1px rgba(76,107,153,0.15),0 1px 0 rgba(255,255,255,0),0 0 6px #326cc0;
  box-shadow: inset 0 1px 1px rgba(76,107,153,0.15),0 1px 0 rgba(255,255,255,0),0 0 6px #326cc0
}
.input.left>.control.invalid,.input.right>.control.invalid,.input.top>.control.invalid,.input.middle>.control.invalid,.input.bottom>.control.invalid{
  border-color: #ff7076;
  border-top-color: #ff5c61;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0),0 1px 0 rgba(255,255,255,0),0 0 2px 0 rgba(255,0,0,0.5);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0),0 1px 0 rgba(255,255,255,0),0 0 2px 0 rgba(255,0,0,0.5);
  -ms-box-shadow: inset 0 1px 2px rgba(0,0,0,0),0 1px 0 rgba(255,255,255,0),0 0 2px 0 rgba(255,0,0,0.5);
  -o-box-shadow: inset 0 1px 2px rgba(0,0,0,0),0 1px 0 rgba(255,255,255,0),0 0 2px 0 rgba(255,0,0,0.5);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0),0 1px 0 rgba(255,255,255,0),0 0 2px 0 rgba(255,0,0,0.5)
}
.input.top>.control{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(124,124,127,0.1),0 1px 0 rgba(255,255,255,0),0 0 4px rgba(86,149,219,0);
  -moz-box-shadow: inset 0 1px 1px rgba(124,124,127,0.1),0 1px 0 rgba(255,255,255,0),0 0 4px rgba(86,149,219,0);
  -ms-box-shadow: inset 0 1px 1px rgba(124,124,127,0.1),0 1px 0 rgba(255,255,255,0),0 0 4px rgba(86,149,219,0);
  -o-box-shadow: inset 0 1px 1px rgba(124,124,127,0.1),0 1px 0 rgba(255,255,255,0),0 0 4px rgba(86,149,219,0);
  box-shadow: inset 0 1px 1px rgba(124,124,127,0.1),0 1px 0 rgba(255,255,255,0),0 0 4px rgba(86,149,219,0);
  border-bottom-color: #e4e4e4
}
.input.middle>.control{
  border-top-color: transparent;
  -webkit-box-shadow: inset 0 1px 1px rgba(124,124,127,0),0 1px 0 rgba(255,255,255,0),0 0 4px rgba(86,149,219,0);
  -moz-box-shadow: inset 0 1px 1px rgba(124,124,127,0),0 1px 0 rgba(255,255,255,0),0 0 4px rgba(86,149,219,0);
  -ms-box-shadow: inset 0 1px 1px rgba(124,124,127,0),0 1px 0 rgba(255,255,255,0),0 0 4px rgba(86,149,219,0);
  -o-box-shadow: inset 0 1px 1px rgba(124,124,127,0),0 1px 0 rgba(255,255,255,0),0 0 4px rgba(86,149,219,0);
  box-shadow: inset 0 1px 1px rgba(124,124,127,0),0 1px 0 rgba(255,255,255,0),0 0 4px rgba(86,149,219,0);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0
}
.input.left>.control{
  border-right: 1px solid #e4e4e4;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0
}
.input.right>.control{
  border-left-color: transparent;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0
}
.input.bottom>.control{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-color: transparent;
  -webkit-box-shadow: inset 0 1px 1px rgba(124,124,127,0),0 1px 0 rgba(255,255,255,0.7),0 0 4px rgba(86,149,219,0);
  -moz-box-shadow: inset 0 1px 1px rgba(124,124,127,0),0 1px 0 rgba(255,255,255,0.7),0 0 4px rgba(86,149,219,0);
  -ms-box-shadow: inset 0 1px 1px rgba(124,124,127,0),0 1px 0 rgba(255,255,255,0.7),0 0 4px rgba(86,149,219,0);
  -o-box-shadow: inset 0 1px 1px rgba(124,124,127,0),0 1px 0 rgba(255,255,255,0.7),0 0 4px rgba(86,149,219,0);
  box-shadow: inset 0 1px 1px rgba(124,124,127,0),0 1px 0 rgba(255,255,255,0.7),0 0 4px rgba(86,149,219,0)
}
.input:focus,.input.focus{
  z-index: 50
}
.input.invalid{
  z-index: 49
}
.input>.icon {
  position: absolute;
  left: 1px;
  top: 3px;
  -webkit-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  pointer-events: none;
}

.control.amex {
  background-image: url("https://b.stripecdn.com/checkout/v3/images/cards/amex-rCwsUgG9VyC8v8BdohM3Rw.png")
}
.control.diners {
  background-image: url("https://b.stripecdn.com/checkout/v3/images/cards/diners-rzdCy07VGt8190Sl9Vt7ag.png")
}
.control.discover {
  background-image: url("https://b.stripecdn.com/checkout/v3/images/cards/discover-GhYYu271VuO3llRQeCQA.png")
}
.control.jcb {
  background-image: url("https://b.stripecdn.com/checkout/v3/images/cards/jcb-oXQoEoicpg7Sh8tItANTpg.png")
}
.control.mastercard {
  background-image: url("https://b.stripecdn.com/checkout/v3/images/cards/mastercard-HVnFbrioF3RgUWZV0DcA.png")
}
.control.visa {
  background-image: url("https://b.stripecdn.com/checkout/v3/images/cards/visa-PN8VNASAyUCxB1J1kpg1fQ.png")
}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min--moz-device-pixel-ratio:1.5),only screen and (min-device-pixel-ratio:1.5) {
  .control.amex {
    background-image: url("https://b.stripecdn.com/checkout/v3/images/cards/amex@2x-Im4rwQaMmOdUZ7GkDc7p1w.png")
  }
  .control.diners {
    background-image: url("https://b.stripecdn.com/checkout/v3/images/cards/diners@2x-YsoHAeUpmA3wX5cEsTmoKg.png")
  }
  .control.discover {
    background-image: url("https://b.stripecdn.com/checkout/v3/images/cards/discover@2x-Ht7GcwNzjvcmQSPh6K2cUA.png")
  }
  .control.jcb {
    background-image: url("https://b.stripecdn.com/checkout/v3/images/cards/jcb@2x-0JpAywvLOTRfVf23XMWMTQ.png")
  }
  .control.mastercard {
    background-image: url("https://b.stripecdn.com/checkout/v3/images/cards/mastercard@2x-i5mYl4TdEhnyRIf6tSjYWg.png")
  }
  .control.visa {
    background-image: url("https://b.stripecdn.com/checkout/v3/images/cards/visa@2x-m9vontAoBuAB8u3G2nDSA.png")
  }
}
.control.amex,.control.diners,.control.discover,.control.jcb,.control.mastercard,.control.visa {
  background-repeat: no-repeat;
  background-size: 32px 20px;
  background-position: right center;
}
