@import 'bootstrap';

/*
 * Week grid
 */
.life {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap;
}
.life a {
  background-color: #fef8fc;
  border: 1px solid white;
  width: 1.923076923%; /* 100/52 */
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.life a.past {
  background-color: #fae3e3;
}
.life a:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.week {
  display: inline-block;
  cursor: pointer;
  width: 1.886792453%; /* 100/53 */
  font-size: 10px;
  text-align: center;
}
.week .placeholder {
  display: inline-block;
  background-color: #FEF8FC;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}
.week.past .placeholder {
  background-color: #FAE3E3;
}
.week a {
  text-decoration: none;
}

/*
 * tooltips
 */
[data-tooltip] {
  position: relative;
}
/* [data-tooltip]:before{ /* doesn't work if same element is Week /*
  content: '';
  display: none;
  position: absolute;
  z-index: 9998;
  bottom: 20px;
  left: 0;
  width: 0;
  height: 0;

  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(0,0,0,.72);
} */
[data-tooltip]:after {
  content: attr(data-tooltip);
  display: none;
  position: absolute;
  z-index: 9999;
  bottom: 25px;
  left: -6.5rem;
  width: 14rem;

  color: #fff;
  font-size: 1.3rem;
  padding: 0.5rem;
  text-align: center;

  background: rgba(0,0,0,.72);
  border-radius: 2px;
}
[data-tooltip]:hover::before, [data-tooltip]:hover::after {
  display:block;
}

/*
 * Week Detail panel
 */
.week-detail-wrap {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: rgba(255,255,255,0.6);
  z-index: 1;
}
.week-detail {
  position: fixed;
  top: 0; right: 0; bottom: 0;
  width: 90%;
  max-width: 50rem;
  background-color: white;
  box-shadow: 0 0 25px rgba(0,0,0,0.2);
  padding: 2rem;
  padding-left: 4rem;
  overflow-y: scroll;
}
.close-week-detail {
  position: fixed;
  display: block;
  top: 0; right: 0; bottom: 0; left: 0;
  color: transparent;
}
.close-week-detail:hover {
  color: transparent;
}
