@import "../node_modules/react-joyride/lib/styles/react-joyride.css";
@import "../node_modules/picnic/releases/picnic.css";
@import "./styles/basics.css";
@import "./styles/vertical-centering.css";
@import "./styles/nav.css";
@import "./styles/emoji-picker.css";
@import "./styles/checkbox-private-public.css";
@import "./styles/detail-pane.css";

/*
 * Hero
 */
.hero {
  min-height: 100vh;
  background-attachment: scroll;
  background-color: #373a3c;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
@media (min-width: 1025px) {
  .hero {
    background-attachment: fixed;
  }
}
.sunset-cliffs {
  background-image: url(./images/sunset-cliffs-large.jpeg);
}
button.brand {
  font-size: 1.5rem;
}

.landing {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0,0,0,0.25);
  color: white;
  text-align: center;
}
.landing .nav-buttons {
  height: auto;
}
.landing .nav-items {
  top: 0.5rem;
}
.hero-header {
  font-size: 1.3em;
}
.hero-header .brand {
  font-size: 1.5em;
}
@media(min-width: 700px) {
  .hero-header {
    font-size: 2em;
  }
}

.devices-photo {
  width: 100%;
  text-align: center;
  overflow: hidden;
}
.devices-photo img {
  width: 100%;
  vertical-align: bottom;
}
@media(min-width: 600px) {
  .devices-photo img {
    width: 75%;
  }
}
@media(min-width: 1000px) {
  .devices-photo img {
    width: 50%;
  }
}

/*
 * Signin
 */
#signin {
  width: 220px;
  margin: 0 auto;
  height: 50px;
}

/*
 * Logo
 */
.logo {
  width: 130px;
  float: left;
}
.logo-small {
  float: left;
  top: 2rem;
}
.logo-small img {
  width: 60px;
  margin-right: 1rem;
}
.logo-small:hover {
  box-shadow: none;
}

/*
 * Sections
 */
.bg-tint {
  background-color: rgba(0,0,0,0.7);
  border-radius: 0 0 .4rem .4rem;
  color: white;
  padding: 0 1.5rem 1.5rem;
}
.bg-tint input, .bg-tint select {
  color: #20221F;
}
.bg-tint {
  padding: 1.5rem;
  border-radius: .4rem;
}
.bg-tint p:first-child {
  margin-top: 0;
 }
.bg-dark, .bg-light {
  font-size: 1.5rem;
  padding: 3rem 0;
}
.bg-dark blockquote {
  box-shadow: inset 5px 0;
}
.bg-dark:first-child, .bg-light:first-child {
  padding-top: 0;
}
.bg-dark {
  background-color: #20221F;
  color: #F0BFA1;
}
.bg-light {
  background-color: #F0BFA1;
  color: white;
}
.bg-light [type=text], .bg-light [type=email] {
  color: gray;
}

/*
 * Brand font
 */
.brand {
  font-family: 'Dancing Script', serif;
}

/*
 * Week grid
 */
.life {
  width: 100%;
  clear: both;
  padding-bottom: 5rem;
}
.year {
  position: relative;
}
.year > a {
  text-decoration: none;
  color: #fef8fc;
  width: 7.692307692%; /* 100/13 */
  display: inline-block;
  text-align: center;
  box-shadow: none;
}
.year.in-weeks > a {
  width: 1.923076923%; /* 100/52 */
}
.year > a.past {
  color: #fae3e3;
}
.year .age {
  color: silver;
  position: absolute;
  text-align: right;
  width: 25px;
  left: -15px;
  top: 3.5px;
}
img.emoji {
  vertical-align: middle;
}
.weeks {
  list-style: none;
  padding: 0;
}
.weeks > li {
  margin-bottom: 1.5rem;
}

/*
 * Images
 */
img {
  max-width: 100%
}

/* Inputs */
input[disabled] {
  opacity: .7;
}

input[type=search] {
  background-image: url(./images/icon-magnifying-glass.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 5px;
  padding-left: 30px;
}

/* Payment form */
.input{
  position: absolute;
  height: 37px
}
.cardPaymentView {
  position: relative;
  height: 73px;
  margin-bottom: 1em;
}
.cardPaymentView>.input {
  left: 0;
  right: 0
}
.cardPaymentView>.cardNumberInput {
  z-index: 10
}
.cardPaymentView>.cardExpiresInput {
  ime-mode: disabled;
  top: 36px;
  right: auto;
  width: 50%;
  z-index: 9
}
.cardPaymentView>.cardCVCInput {
  top: 36px;
  left: 49.5%;
  right: 0;
  width: auto;
  z-index: 8;
  border-left: 1px solid #e5e5e8
}
.input>.control{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 37px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  padding: 0 6px 2px 29px;
  margin: 0;
  font-family: "Helvetica Neue","Helvetica",Arial,sans-serif;
  font-size: 15px;
  color: #000;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  user-select: text;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid #cececf;
  border-top-color: #b5b5b6;
  border-bottom-color: #dededf;
  -webkit-box-shadow: inset 0 1px 1px rgba(124,124,127,0.1),0 1px 0 rgba(255,255,255,0.7),0 0 4px rgba(86,149,219,0);
  -moz-box-shadow: inset 0 1px 1px rgba(124,124,127,0.1),0 1px 0 rgba(255,255,255,0.7),0 0 4px rgba(86,149,219,0);
  -ms-box-shadow: inset 0 1px 1px rgba(124,124,127,0.1),0 1px 0 rgba(255,255,255,0.7),0 0 4px rgba(86,149,219,0);
  -o-box-shadow: inset 0 1px 1px rgba(124,124,127,0.1),0 1px 0 rgba(255,255,255,0.7),0 0 4px rgba(86,149,219,0);
  box-shadow: inset 0 1px 1px rgba(124,124,127,0.1),0 1px 0 rgba(255,255,255,0.7),0 0 4px rgba(86,149,219,0);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: border-color .15s linear,box-shadow .15s linear;
  -moz-transition: border-color .15s linear,box-shadow .15s linear;
  -ms-transition: border-color .15s linear,box-shadow .15s linear;
  -o-transition: border-color .15s linear,box-shadow .15s linear;
  transition: border-color .15s linear,box-shadow .15s linear
}
.input>.control:not(.invalid):focus,.input>.control:not(.invalid).focus{
  border-color: #7caadd;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(76,107,153,0.15),0 1px 0 rgba(255,255,255,0),0 0 6px #326cc0;
  -moz-box-shadow: inset 0 1px 1px rgba(76,107,153,0.15),0 1px 0 rgba(255,255,255,0),0 0 6px #326cc0;
  -ms-box-shadow: inset 0 1px 1px rgba(76,107,153,0.15),0 1px 0 rgba(255,255,255,0),0 0 6px #326cc0;
  -o-box-shadow: inset 0 1px 1px rgba(76,107,153,0.15),0 1px 0 rgba(255,255,255,0),0 0 6px #326cc0;
  box-shadow: inset 0 1px 1px rgba(76,107,153,0.15),0 1px 0 rgba(255,255,255,0),0 0 6px #326cc0
}
.input>.control.invalid{
  outline: 0;
  border-color: #ff7076;
  border-top-color: #ff5c61;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0),0 1px 0 rgba(255,255,255,0),0 0 2px 0 rgba(255,0,0,0.5);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0),0 1px 0 rgba(255,255,255,0),0 0 2px 0 rgba(255,0,0,0.5);
  -ms-box-shadow: inset 0 1px 2px rgba(0,0,0,0),0 1px 0 rgba(255,255,255,0),0 0 2px 0 rgba(255,0,0,0.5);
  -o-box-shadow: inset 0 1px 2px rgba(0,0,0,0),0 1px 0 rgba(255,255,255,0),0 0 2px 0 rgba(255,0,0,0.5);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0),0 1px 0 rgba(255,255,255,0),0 0 2px 0 rgba(255,0,0,0.5)
}
.input>.control:disabled{
  opacity: .8
}
.input.left>.control:not(.invalid):focus,.input.right>.control:not(.invalid):focus,.input.top>.control:not(.invalid):focus,.input.middle>.control:not(.invalid):focus,.input.bottom>.control:not(.invalid):focus,.input.left>.control:not(.invalid).focus,.input.right>.control:not(.invalid).focus,.input.top>.control:not(.invalid).focus,.input.middle>.control:not(.invalid).focus,.input.bottom>.control:not(.invalid).focus{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border-color: #7caadd;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(76,107,153,0.15),0 1px 0 rgba(255,255,255,0),0 0 6px #326cc0;
  -moz-box-shadow: inset 0 1px 1px rgba(76,107,153,0.15),0 1px 0 rgba(255,255,255,0),0 0 6px #326cc0;
  -ms-box-shadow: inset 0 1px 1px rgba(76,107,153,0.15),0 1px 0 rgba(255,255,255,0),0 0 6px #326cc0;
  -o-box-shadow: inset 0 1px 1px rgba(76,107,153,0.15),0 1px 0 rgba(255,255,255,0),0 0 6px #326cc0;
  box-shadow: inset 0 1px 1px rgba(76,107,153,0.15),0 1px 0 rgba(255,255,255,0),0 0 6px #326cc0
}
.input.left>.control.invalid,.input.right>.control.invalid,.input.top>.control.invalid,.input.middle>.control.invalid,.input.bottom>.control.invalid{
  border-color: #ff7076;
  border-top-color: #ff5c61;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0),0 1px 0 rgba(255,255,255,0),0 0 2px 0 rgba(255,0,0,0.5);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0),0 1px 0 rgba(255,255,255,0),0 0 2px 0 rgba(255,0,0,0.5);
  -ms-box-shadow: inset 0 1px 2px rgba(0,0,0,0),0 1px 0 rgba(255,255,255,0),0 0 2px 0 rgba(255,0,0,0.5);
  -o-box-shadow: inset 0 1px 2px rgba(0,0,0,0),0 1px 0 rgba(255,255,255,0),0 0 2px 0 rgba(255,0,0,0.5);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0),0 1px 0 rgba(255,255,255,0),0 0 2px 0 rgba(255,0,0,0.5)
}
.input.top>.control{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(124,124,127,0.1),0 1px 0 rgba(255,255,255,0),0 0 4px rgba(86,149,219,0);
  -moz-box-shadow: inset 0 1px 1px rgba(124,124,127,0.1),0 1px 0 rgba(255,255,255,0),0 0 4px rgba(86,149,219,0);
  -ms-box-shadow: inset 0 1px 1px rgba(124,124,127,0.1),0 1px 0 rgba(255,255,255,0),0 0 4px rgba(86,149,219,0);
  -o-box-shadow: inset 0 1px 1px rgba(124,124,127,0.1),0 1px 0 rgba(255,255,255,0),0 0 4px rgba(86,149,219,0);
  box-shadow: inset 0 1px 1px rgba(124,124,127,0.1),0 1px 0 rgba(255,255,255,0),0 0 4px rgba(86,149,219,0);
  border-bottom-color: #e4e4e4
}
.input.middle>.control{
  border-top-color: transparent;
  -webkit-box-shadow: inset 0 1px 1px rgba(124,124,127,0),0 1px 0 rgba(255,255,255,0),0 0 4px rgba(86,149,219,0);
  -moz-box-shadow: inset 0 1px 1px rgba(124,124,127,0),0 1px 0 rgba(255,255,255,0),0 0 4px rgba(86,149,219,0);
  -ms-box-shadow: inset 0 1px 1px rgba(124,124,127,0),0 1px 0 rgba(255,255,255,0),0 0 4px rgba(86,149,219,0);
  -o-box-shadow: inset 0 1px 1px rgba(124,124,127,0),0 1px 0 rgba(255,255,255,0),0 0 4px rgba(86,149,219,0);
  box-shadow: inset 0 1px 1px rgba(124,124,127,0),0 1px 0 rgba(255,255,255,0),0 0 4px rgba(86,149,219,0);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0
}
.input.left>.control{
  border-right: 1px solid #e4e4e4;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0
}
.input.right>.control{
  border-left-color: transparent;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0
}
.input.bottom>.control{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-color: transparent;
  -webkit-box-shadow: inset 0 1px 1px rgba(124,124,127,0),0 1px 0 rgba(255,255,255,0.7),0 0 4px rgba(86,149,219,0);
  -moz-box-shadow: inset 0 1px 1px rgba(124,124,127,0),0 1px 0 rgba(255,255,255,0.7),0 0 4px rgba(86,149,219,0);
  -ms-box-shadow: inset 0 1px 1px rgba(124,124,127,0),0 1px 0 rgba(255,255,255,0.7),0 0 4px rgba(86,149,219,0);
  -o-box-shadow: inset 0 1px 1px rgba(124,124,127,0),0 1px 0 rgba(255,255,255,0.7),0 0 4px rgba(86,149,219,0);
  box-shadow: inset 0 1px 1px rgba(124,124,127,0),0 1px 0 rgba(255,255,255,0.7),0 0 4px rgba(86,149,219,0)
}
.input:focus,.input.focus{
  z-index: 50
}
.input.invalid{
  z-index: 49
}
.input>.icon {
  position: absolute;
  left: 1px;
  top: 3px;
  -webkit-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  pointer-events: none;
}

.control.amex {
  background-image: url(./images/cards/amex.png)
}
.control.diners {
  background-image: url(./images/cards/diners.png)
}
.control.discover {
  background-image: url(./images/cards/discover.png)
}
.control.jcb {
  background-image: url(./images/cards/jcb.png)
}
.control.mastercard {
  background-image: url(./images/cards/mastercard.png)
}
.control.visa {
  background-image: url(./images/cards/visa.png)
}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min--moz-device-pixel-ratio:1.5),only screen and (min-device-pixel-ratio:1.5) {
  .control.amex {
    background-image: url(./images/cards/amex@2x.png)
  }
  .control.diners {
    background-image: url(./images/cards/diners@2x.png)
  }
  .control.discover {
    background-image: url(./images/cards/discover@2x.png)
  }
  .control.jcb {
    background-image: url(./images/cards/jcb@2x.png)
  }
  .control.mastercard {
    background-image: url(./images/cards/mastercard@2x.png)
  }
  .control.visa {
    background-image: url(./images/cards/visa@2x.png)
  }
}
.control.amex,.control.diners,.control.discover,.control.jcb,.control.mastercard,.control.visa {
  background-repeat: no-repeat;
  background-size: 32px 20px;
  background-position: right center;
}
